*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}

/* #box {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: coral;
}
#box2 {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: cadetblue;
} */


/* h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* /* #dabbi {
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
} */


/* #dabbi1 {
    width: 300px;
    height: 33.33%;
    background-color: aqua;
    border: 1px solid black;
}
#dabbi2 {
    width: 300px;
    height: 33.33%;
    background-color: lightpink;
    border: 1px solid black;
}
#dabbi3 {
    width: 300px;
    height: 33.33%;
    background-color: lightsalmon;
    border: 1px solid black;
} */ 

/* 
#nav {
    /* background-color: red; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
#part-2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}  */




/* GSAP  PART-2 */



#page1 {
    width: 100%;
    height: 100%;
    background-color: lightblue;
}
#page2 {
    width: 100%;
    height: 100%;
    background-color: rgb(36, 189, 203);
}
#page3 {
    width: 100%;
    height: 100%;
    background-color: rgb(237, 99, 230);
}